<div class="form-row">
    <form class="col-md-8 offset-md-2 w-100"
          encType="multipart/form-data"
          method="post">
        {{#each errors}}
            <div class="alert alert-danger">
                {{this.msg}}
            </div>
        {{/each}}

        <div class="form-group">
            <label>Adres e-mail na który wysłać rezultat</label>
            <input type="email" class="form-control" placeholder="Email" name="email" value={{email}}>
        </div>

        <div class="row mt-5">
            <div class="col text-center">
                <button type="submit" class="btn btn-primary text-center">Wyślij</button>
            </div>
        </div>
    </form>
</div>


