<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

          <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
          <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
          <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
          <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
          <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
          <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
          <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
          <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
          <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
          <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
          <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
          <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
          <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
          <link rel="manifest" href="/manifest.json">
          <meta name="msapplication-TileColor" content="#ffffff">
          <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
          <meta name="theme-color" content="#ffffff">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <link href="/stylesheets/style.css" rel="stylesheet">
</head>
<body>
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">Web scraper</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="/">Home</a>
            </nav>
        </div>
    </header>

    <main role="main" class="inner cover">
        {{{body}}}
    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>Created by <strong>Krzysztof Różycki</strong></p>
        </div>
    </footer>
</div>
</body>
</html>
