<h1 class="text-center mb-4">Plik został pomyślnie załadowany.</h1>
{{#if email}}
    <p class="text-center">Wiadomość o rezultacie zostanie wysłana na adres {{email}}.</p>
{{/if}}

<div class="row">
    <div class="col text-center">
        <a class="btn btn-primary " href="/">Powrót do formularza</a>
    </div>
</div>


